.footer__copyrights {
  color: #7E7E82;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  opacity: 0.72;
  margin: 65px 0 0;
  padding-bottom: 16px;
  display: flex;

  a {
    color: #7E7E82;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    opacity: 0.72;
  }

  p {
    color: #7E7E82;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    opacity: 0.72;

    &:last-child {
      text-align: end;
    }
  }
}