.modal__call {
  display: flex;
  justify-content: flex-end;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  background-color: rgba(234, 234, 234, 0.9);
  position: fixed;
  z-index: 99999;
  transition: all 0.5s;
}

.call__drawer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transition: ease-in-out 0.2s;

  .call-drawer-button__elem--burger {
    background-image: url(../img/burger.svg);
  }
}

.drawer__input {
  margin-bottom: 16px;
  height: 48px;
  padding: 12px 16px 0;
  border-radius: 8px;
  border: 1px solid #EAEAEA;
  background: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  overflow-wrap: break-word;
  resize: none;
  text-align: start;

  &:last-child {
    height: 118px;
  }

  &:focus-visible {
    outline: none;
  }

  &::placeholder {
    color: #B5B6BC;
  }
}

.drawer__footnote {
  color: #7E7E82;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-align: justify;
  margin-bottom: 32px;

  a {
    color: #FF3E79;
    text-decoration: none;
  }
}

.call__drawer .drawer__send-button {
  &::before {
    content: 'Заказать звонок';
  }

  align-self: flex-end;
}

.modal__call--close {
  opacity: 0;
  z-index: -10;
}

.modal__call--open {
  opacity: 1;
  z-index: 50;
}
.call__drawer--close {
  transition: ease-in 0.2s;
  transform: translateX(900px) scaleX(0);
}

.call__drawer--open {
  z-index: 100;
  transition: ease-in 0.5s;
  transform: translateX(0px) scale(1);
}

.modal__call--close-area {
  position: absolute;
  width: 100%;
  height: 100%;
}