.oneclick-button {
  width: 119px;
  height: 32px;
  background: none;
  background-color: #FF3E79;
  border: none;
  border-radius: 16px;

  &::before {
    content: 'Заказать';
    color: #FFF;
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-transform: uppercase;
  }

  >.arrow {
    content: '';
    display: inline-block;
    position: relative;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(-45deg) translate(50%, 50%);
    cursor: pointer;
    border-radius: 1.5px 1.5px 1.5px 1.5px;
  }

  &:hover {
    .arrow {
      transition: ease-in-out 0.5s;
      transform: rotate(-45deg) translate(50%, 50%) scale(1.3);
    }

    transition: all 0.1s;
    transform: scale(1.1);
    opacity: 0.9;
  }

  &:active {
    transition: 0.05s;
    opacity: 1;
    transform: scale(1.2);
  }
}