.prices-table {
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  border-collapse: collapse;
  font-size: 14px;
  font-style: 400;
  font-weight: 500;
  line-height: 16px;

  tr {
    height: 64px;
    border-left: 24px solid #fff;
    border-right: 24px solid #fff;
  }

  td {
    border-bottom: 2px solid #f8f8f8;
  }
}

.prices-table__row {
  &:first-child {
    background-color: #F8F8F8;
    color: #7E7E82;
    border-left: 24px solid #f8f8f8;
    border-right: 24px solid #f8f8f8;
  }
}

.prices-list__elem {
  margin-right: 72px !important;
  width: 192px !important;
  height: 144px;
  background-color: #fff;
  border: #eaeaea 1px solid;
  border-radius: 8px;
  position: relative;
  padding: 20px 32px 20px 12px;
  color: #1B1C21;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;

  h3 {
    color: #7E7E82;
    opacity: 0.72;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin: 0;
  }

  p {
    margin: 0 0 16px;
    color: #1B1C21;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
  }

  button {
    position: absolute;
    bottom: 12px;
    right: 12px;
  }
}

.order-button__cell {
  display: flex;
  justify-content: flex-end;
  height: 64px;
  align-content: center;
  flex-wrap: wrap;
}