@font-face {
  font-family: "TT Lakes";
  font-weight: 600;
  font-style: bold;
  src: url(../fonts/TTLakes-Bold.woff), url(../fonts/TTLakes-Bold.eot), url(../fonts/TTLakes-Bold.ttf);
}

@font-face {
  font-family: "TT Lakes";
  font-weight: 500;
  font-style: medium;
  src: url(../fonts/TTLakes-Medium.woff), url(../fonts/TTLakes-Medium.ttf), url(../fonts/TTLakes-Medium.eot);
}

@font-face {
  font-family: "TT Lakes";
  src: url(../fonts/TTLakes-Regular.woff), url(../fonts/TTLakes-Regular.eot), url(../fonts/TTLakes-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "TT Lakes";
}

body {
  margin: 0 auto;
}
.container {
  margin: 0 auto;
}

.brands-expander {
  height: 40px;
  position: relative;
  font-weight: 600;
  color: #1b1c21;
  font-size: 16px;
  line-height: 24px;
  border: hidden;
  background-color: inherit;

  &:hover {
    transition: 0.2s;
    transform: scale(1.1);
  }

  &:focus {
    border-radius: 6px;
    border: 2px solid #88ffec;
  }
}

.navigation-container {
  background-color: #f8f8f8;
  max-width: 100%;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}







@media (min-width: 1px) {
  .container {
    width: 320px;
    background-color: #F8F8F8;
  }

  .modal__feedback--close-area {
    display: none;
  }

  .modal__call--close-area {
    display: none;
  }

  .aside-menu {
    max-width: 360px;
    min-width: 288px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 25px 0px 50px 10px rgba(87, 85, 109, 0.2);
    position: fixed;
    background-color: #fff;
    padding: 0 16px;
    height: 100%;
  }

  .aside-wrapper {
    transition: ease-in-out 0.7s;
    position: relative;
    z-index: 10;
  }

  .aside-wrapper--close {
    left: -2000px;
    opacity: 0;
  }

  .aside-menu__navigation-menu__list {
    li {
      a {
        &:focus {
          &::before {
            content: url(../img/highlight.svg);
            position: absolute;
            left: -16px;
            top: -4px;
          }
        }
      }
    }
  }

  .navigation-container__prices {
    display: none;
  }

  .mobile-slider {
    display: block;
  }

  .content-wrapper {
    padding: 0 16px;
    background-color: #F8F8F8;
  }

  .navigation-container__brands-list--mobile {
    height: 120px;
    padding-left: 16px;
  }

  .navigation-container__brands-list {
    display: none;
  }

  .navigation-container__wrapper {
    display: none;
  }

  .info__navigation {
    overflow-x: scroll;
  }

  .header-navigation__buttons--hidden {
    visibility: hidden;
    position: absolute;
  }

  .divider--hidden {
    visibility: hidden;
    position: absolute;
  }

  .header-navigation__buttons__desktop {
    visibility: hidden;
    position: absolute;
  }

  .navigation-container__title {
    padding: 12px 0;
  }

  .description__wrapper {
    max-height: 90px;
    overflow-y: hidden;
  }

  .brands-expander {
    display: none;
  }

  .service-expander {
    display: none;
  }

  .service-expander__icon {
    display: none;
  }

  main {
    margin-top: 16px;
  }

  .info__title-line {
    transform: translate(-16px, 0px);
  }

  .footer__copyrights {
    flex-direction: column;
    justify-content: center;

    a {
      display: block;
      width: 100%;
      text-align: center;
    }

    p {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  .feedback__drawer {
    margin: 0 auto;
    padding: 16px 16px;
    width: 304px;

    .navigation-button {
      position: relative;
    }
  }

  .call__drawer {
    margin: 0 auto;
    padding: 16px 16px;
    width: 304px;

    .navigation-button {
      position: relative;
    }
  }

  .drawer__title {
    &::before {
      content: url(../img/highlight.svg);
      vertical-align: middle;
      position: relative;
      left: -16px;
    }
  }
}

@media (min-width: 769px) {
  .container {
    width: 769px;
  }

  .modal__feedback--close-area {
    display: block;
  }

  .modal__call--close-area {
    display: block;
  }

  .feedback__drawer {
    margin-right: 16px;
    padding: 0 32px;
    width: 408px;

    .navigation-button {
      position: absolute;
      transform: translate(-104px, 15px);

      &:hover {
        transition: 0.2s;
        transform: scale(1.1) translate(-95px, 14px);
      }
    }
  }

  .call__drawer {
    margin-right: 16px;
    padding: 0 32px;
    width: 408px;

    .navigation-button {
      position: absolute;
      transform: translate(-104px, 15px);

      &:hover {
        transition: 0.2s;
        transform: scale(1.1) translate(-95px, 14px);
      }
    }
  }

  .drawer__title {
    &::before {
      content: url(../img/highlight.svg);
      vertical-align: middle;
      position: relative;
      left: -32px;
    }
  }

  .aside-menu {
    width: 320px;
    padding: 0 24px;
  }

  .aside-menu__navigation-menu__list {
    li {
      a {
        &:focus {
          &::before {
            content: url(../img/highlight.svg);
            position: absolute;
            left: -24px;
            top: -4px;
          }
        }
      }
    }
  }

  .footer__copyrights {
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;

    a {
      width: 30%;
    }

    p {
      width: 30%;
    }
  }

  .mobile-slider {
    display: none;
  }

  .image {
    border-radius: 3%;
    width: 360px;
  }

  .desktop-image {
    flex-shrink: 0;
    width: 50%;
    height: 50%;
  }

  .navigation-container__prices {
    display: block;
  }

  .content-wrapper {
    padding: 0 24px;
  }

  .info__title-line {
    transform: translate(-24px, 0px);
  }

  main {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }

  .card {
    width: 240px;
  }

  .brands-expander {
    display: block;
  }

  .service-expander {
    display: block;
  }

  .service-expander__icon {
    display: block;
  }

  .navigation-container__wrapper {
    display: block;
  }

  .navigation-container__brands-list {
    display: flex;
    flex-flow: row wrap;
    row-gap: 16px;
  }

  .navigation-container__brands-list--open {
    overflow: visible;
    height: auto;
  }

  .navigation-container__brands-list--close {
    overflow: hidden;
    height: 174px;
  }

  .navigation-container__brands-list--mobile {
    display: none;
  }

  .navigation-container__service-list {
    gap: 16px 14px;
  }

  .description__wrapper {
    max-height: 160px;
    width: 312px;
    overflow-y: hidden;

    >p {
      line-height: 20px;
    }

    .description__text {
      margin-bottom: 20px;
    }
  }

  .header-navigation__buttons--hidden {
    visibility: visible;
    display: inherit;
    position: inherit;
  }

  .divider--hidden {
    visibility: visible;
    position: inherit;
  }

  .divider--mobile {
    visibility: hidden;
    position: absolute;
  }
}

@media (min-width: 1120px) {
  .container {
    width: 1120px;
  }

  .modal__feedback--close-area {
    display: none;
  }

  .modal__call--close-area {
    display: none;
  }

  .feedback__drawer {
    margin-right: 16px;
  }

  .call__drawer {
    margin-right: 16px;
  }

  .navigation-container__service-list {
    gap: 16px 34px;
  }

  .navigation-container__brands-list {
    gap: 16px 20px;
  }

  .navigation-container__brands-list--mobile {
    gap: 16px 20px;
  }

  .content-wrapper {
    padding: 0 32px;
    position: relative;
    right: -180px;
  }

  .image {
    width: 531px;
  }

  .mobile-header {
    visibility: hidden;
    position: absolute;
  }

  .divider--hidden {
    visibility: hidden;
    position: absolute;
  }

  .divider--mobile {
    visibility: hidden;
    position: absolute;
  }

  .header-navigation__buttons--hidden {
    visibility: hidden;
    position: absolute;
  }

  .header-navigation__buttons__desktop {
    visibility: visible;
    position: relative;
    gap: 10px;
    color: #1b1c21;
    font-size: 16px;
    line-height: 24px;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    letter-spacing: -0.2px;
  }

  .info__title-line {
    top: 23px;
    transform: translate(-32px, 0px);
  }

  .info__navigation {
    justify-content: space-between;
    overflow-x: visible;
    display: inline-flex;
    flex-wrap: wrap;
  }

  .info__title-menu {
    display: flex;
    justify-content: space-between;
  }

  .desktop__buttons-icon {
    padding-left: 0.5em;
  }

  .description__wrapper {
    max-height: 160px;
    width: 490px;
    overflow-y: hidden;
  }

  .navigation-container__title {
    padding: 12px 0;
  }

  .aside-wrapper {
    display: block;
    position: relative;
    z-index: 2;
    left: -188px !important;
    opacity: 1;
    transition: 0s;
  }

  .aside-menu {
    box-shadow: none;
  }

  .aside-menu__top-header {
    >.navigation-button {
      &:nth-child(1) {
        display: none;
      }
    }

    flex-direction: row-reverse;
  }

  .aside-menu__logo {
    transform: translate(-60px);
  }
}

@import 'aside-menu.scss';
@import 'brands-list.scss';
@import 'circle-pointer.scss';
@import 'description.scss';
@import 'footer.scss';
@import 'footnote-block.scss';
@import 'header.scss';
@import 'info__navigation.scss';
@import 'language-select.scss';
@import 'modal__call.scss';
@import 'modal__feedback.scss';
@import 'navigation-buttons.scss';
@import 'oneclick-button.scss';
@import 'prices-list.scss';
@import 'prices-swiper.scss';
@import 'service-list.scss';
@import 'service-swiper.scss';
@import 'text-expander.scss';
@import 'title.scss';