.info__title-line {
  position: absolute;
}

.info__title {
  font-size: 28px;
  line-height: 40px;
}

.navigation-container__title {
  color: #7e7e82;
  background: linear-gradient(270deg, #FFF 0%, #F8F8F8 100%);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  width: 106%;
}
